@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.rotate:hover {
  animation: rotate 1s ease-in-out;
}

.gradientMask {
  mask-image: linear-gradient(to top, transparent 0%, black 20%, black 100%);

  -webkit-mask-image: linear-gradient(
    to top,
    transparent 0%,
    black 20%,
    black 100%
  );
}

@media (max-width: 1024px) {
  .gradientMask {
    mask-image: linear-gradient(to top, transparent 0%, black 8%, black 100%);

    -webkit-mask-image: linear-gradient(
      to top,
      transparent 0%,
      black 8%,
      black 100%
    );
  }
}

.navLink1:hover {
  text-shadow:
    0 0 10px var(--nav-color-1),
    0 0 30px var(--nav-color-1);
}

.navLink2:hover {
  text-shadow:
    0 0 10px var(--nav-color-2),
    0 0 30px var(--nav-color-2);
}
